params {
    max_cpus   = 4
    max_memory = 8.GB

    // Input data
    whitelist = '/Users/cheshic/dev/test_data/2022_sc_atac/hydrop_atac_1_0_whitelist.tsv'
    input = '/Users/cheshic/dev/test_data/2022_sc_atac/220104_NB501505_0171_AH3KMGAFX3'
    sample_sheet = '/Users/cheshic/dev/test_data/2022_sc_atac/test_sample_sheet.csv'
    fastq_dir = "/Users/cheshic/dev/test_data/2022_sc_atac/test_vsmall_samples_100K/*.fastq.gz"

    // Genome references
    fasta              = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20.fa.gz'
    gtf                = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20-genes.gtf.gz'
    gene_bed           = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20-genes.bed.gz'
    blacklist          = "${projectDir}/assets/blacklists/hg38-blacklist.bed"

    // Params
    base_mask = 'Y52,Y52,I10,Y52'
    read_structure = 'SB,R1,CB,R2'
}
